@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
	--primary-color: #3aafa9;
	--dark-color: #2d8984;
	--white: #fff;
}

html,
body {
	font-family: "Open Sans";
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

header {
	padding: 0px;
	margin: 0px;
}

/* Navigation Bar */
.main-nav {
	background: var(--primary-color);
	text-align: right;
}

ul,
ol {
	margin: 0px;
	list-style: none;
	padding: 0;
}

/* Navigation List Items */
.main-nav li {
	display: inline-block;
	border: none !important;
}

/* Navigation list links */
.main-nav li a {
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-family: "Open Sans";
	display: inline-block;
	font-weight: bolder;
	text-transform: uppercase;
	padding: 15px 25px 15px 25px;
	transition: 0.5s;
	line-height: 1.4;
}

/* Navigation links hover */
.main-nav li a:hover {
	background: var(--dark-color);
	color: #fff;
	text-decoration: none;
}

/* Footer */
footer {
	bottom: 0;
	position: fixed;
	width: 100%;
	background: var(--primary-color);
}

/* Footer text */
footer p {
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	color: #fff;
	text-transform: uppercase;
}

/* Image Slider Styles */
.image-container {
	width: 100%;
	height: 100%;
}

.slider {
	position: relative;
	width: 100%;
	height: 400px;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}

.slide.current {
	opacity: 1;
}

.buttons button#next {
	position: absolute;
	top: 35%;
	right: 15px;
}

.buttons button#prev {
	position: absolute;
	top: 35%;
	left: 15px;
}

.buttons button {
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	padding: 13px 15px;
	border-radius: 50%;
	outline: none;
}

.buttons button:hover {
	background-color: #fff;
	color: #333;
}

@media (max-width: 500px) {
	.slide .content {
		bottom: -300px;
		left: 0;
		width: 100%;
	}

	.slide.current .content {
		transform: translateY(-300px);
	}
}

/* Backgorund Images */

.slide:first-child {
	background: url("https://source.unsplash.com/zYx5rjk8dfU/1600x400") no-repeat
		center top/cover;
}

.slide:nth-child(2) {
	background: url("https://source.unsplash.com/Mwuod2cm8g4/1600x400") no-repeat
		center top/cover;
}

.slide:nth-child(3) {
	background: url("https://source.unsplash.com/fgmf2Eyrwm4/1600x400") no-repeat
		center top/cover;
}

.slide:nth-child(4) {
	background: url("https://source.unsplash.com/WfCmNom4M4Q/1600x400") no-repeat
		center top/cover;
}

.slide:nth-child(5) {
	background: url("https://source.unsplash.com/VVBD_bjk7c8/1600x400") no-repeat
		center top/cover;
}

/* About Section */
.about-container {
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
}

.about-content {
	width: 70%;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.about-title {
	color: var(--dark-color);
	text-decoration: underline;
}

#upper-text {
	text-align: justify;
}

#text {
	display: none;
	text-align: justify;
	margin-bottom: 10px;
}

.btn-container {
	margin: auto;
	height: 44px;
	width: 166.23px;
	margin-bottom: 12px;
}

#toggle {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	border: none;
	padding: 8px;
	font-size: 20px;
	background: var(--primary-color);
	color: white;
	font-family: cursive;
	box-sizing: border-box;
}

/* Contact Form Container */

.contact-form-container {
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-direction: column;
}

#contact-form {
	width: 50%;
	height: 100%;
	background: #f1f1f1;
	margin: auto;
	padding: 2%;
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	flex: 2;
	margin-top: 2em;
}

.contact-title {
	text-align: center;
	margin-top: 5px;
}

.contact-text {
	text-align: center;
	margin-bottom: 1em;
}

form input,
textarea {
	border-radius: 2px;
	width: 90%;
	font-size: 16px;
	font-weight: 300;
	margin-left: 10px;
	margin-right: 1px;
	margin-top: 10px;
	border: 1px solid #eceff1;
	padding: 10px;
	position: relative;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
}

[type="submit"] {
	border: 1px solid #2f5bb7;
	color: #fff;
	padding: 10px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: var(--dark-color);
	margin-top: 12px;
	font-weight: 500;
}

[type="submit"]:hover {
	border-color: #c6c6c6;
	color: #fff;
	cursor: pointer;
	-o-transition: all 0.2s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	background-color: #4c8ffc;
	background-image: -webkit-linear-gradient(top, #4c8ffc, #4889f0);
	background-image: -moz-linear-gradient(top, #4c8ffc, #4889f0);
	background-image: -ms-linear-gradient(top, #4c8ffc, #4889f0);
	background-image: -o-linear-gradient(top, #4c8ffc, #4889f0);
	background-image: linear-gradient(top, #4c8ffc, #4889f0);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Services Container */

.services-title {
	color: var(--dark-color);
	text-decoration: underline;
	display: grid;
	text-align: center;
	margin-top: 10px;
}

.services-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	background-color: var(--primary-color);
	padding: 35px;
}

.currency-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--white);
}

.news-service-container {
	display: flex;
	flex-direction: column;
	color: var(--white);
	justify-content: center;
	align-items: center;
}

.dictionary-container {
	display: flex;
	flex-direction: column;
	color: var(--white);
	justify-content: center;
	align-items: center;
}

.weather-container {
	display: flex;
	flex-direction: column;
	color: var(--white);
	justify-content: center;
	align-items: center;
}

.images-container {
	display: flex;
	flex-direction: column;
	color: var(--white);
	justify-content: center;
	align-items: center;
}

.currency-logo {
	padding: 5px;
}

.currency-content {
	padding: 4px;
	text-align: center;
}

.news-logo {
	padding: 5px;
}

.news-service-content {
	padding: 4px;
	text-align: center;
}

.dictionary-logo {
	padding: 5px;
}

.dictionary-content {
	padding: 4px;
	text-align: center;
}

.weather-logo {
	padding: 5px;
}

.weather-content {
	padding: 4px;
	text-align: center;
}

.images-logo {
	padding: 5px;
}

.images-content {
	padding: 4px;
	text-align: center;
}

audio:not([controls]) {
    display: none !important;
}

/* Footer */
footer {
	margin-top: 20px;
	/* position: relative !important; */
}

footer>div {
	padding: 0.5px !important;
}

.container-fluid{
	padding-top: 110px !important;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px !important;
  }