@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --primary-color: #3AAFA9;
  --dark-color: #2d8984;
}

html, body {
  font-family: 'Open Sans';
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
}

/* Navigation Bar */
nav {
  background: var(--primary-color);
  text-align: right;
}

/* Navigation List Items */
nav li {
  display: inline-block;
}

/* Navigation list links */
nav li a {
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Open Sans';
  display: inline-block;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 15px 30px 15px 30px;
  transition: .5s;
  line-height: 1;
}

/* Navigation links hover */
nav li a:hover {
  background: var(--dark-color);
  color: #FFF;
  text-decoration: none;
}
