@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --primary-color: #3AAFA9;
  --dark-color: #2d8984;
}

html, body {
  font-family: 'Open Sans';
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  align-content: center;
}

header {
  padding: 0px;
  margin: 0px;
}

/* Navigation Bar */
.main-nav {
  background: var(--primary-color);
  text-align: right;
}

ul, ol {
  margin: 0px;
  list-style: none;
  padding: 0;
}

/* Navigation List Items */
.main-nav li {
  display: inline-block;
  border: none !important;
}

/* Navigation list links */
.main-nav li a {
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Open Sans';
  display: inline-block;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 15px 25px 15px 25px;
  transition: .5s;
  line-height: 1.4;
}

/* Navigation links hover */
.main-nav li a:hover {
  background: var(--dark-color);
  color: #FFF;
  text-decoration: none;
}

/* Footer */
footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background: var(--primary-color);
}

/* Footer text */
footer p {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  text-transform: uppercase;
}