/*.input-container {
  padding: 25px 0 20px 0;
  /*flex: 2;*
}

.img-container {
  float: left;
  width: 75%;
  column-count: 3;
}

.suggestion-container {
  width: 25%;
  float: right;
  /*flex: 2;*
  /*padding-left: 1.6rem;*
}

.image-holder > img {
  margin-top: 20px;
}

.row {
  height: 1000px;
  /*display: flex;*/
  /*justify-content: flex-start;*
  padding-left: 50px;
}

input[type=text] {
  border: 2px solid var(--dark-color);
  width: 20vw;
  height: 2vh;
  padding: 10px;
  color: #333;
  line-height: 3px;
}

.submit {
  margin-left: 1.6rem;
  width: 20vh;
  height: 6vh;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.image {
  transition: .5s;
}

.image:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}*/

html{
  overflow-y: scroll;
}

