.input-container {
  width: 100%;
}

input[type="text"] {
  border: 2px solid var(--dark-color);
  width: 20vw;
  height: 2vh;
  padding: 10px;
  color: #333;
  line-height: 3px;
}

.submit {
  margin-left: 1.6rem;
  width: 20vh;
  height: 6vh;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.news {
    border: 1px solid black;
    display: flex;
}

.news-image {
    flex: 1;
}

.news-content {
    flex: 3;
}