/* .input-container {
	 display: flex;
}

.input-group {
	flex: 1 !important;
} */
/* 
input[type="text"] {
	border: 2px solid var(--dark-color);
	width: 20vw;
	height: 2vh;
	padding: 10px;
	color: #333;
	line-height: 3px;
} */
/* 
.submit {
	margin-left: 1.6rem;
	width: 20vh;
	height: 6vh;
	border: 2px solid var(--primary-color);
	background-color: var(--primary-color);
	color: var(--white);
	border-radius: 10px;
	outline: none;
	cursor: pointer;
} */

.news {
	border: 1px solid black;
	margin: 35px;
	display: grid;
	grid-template-columns: 1fr auto;
	justify-content: space-evenly;
	border-radius: 10px;
}

.news-image > img {
	margin: 10px 15px 10px 15px;
	/* display: flex;
	flex-direction: row; */
}

.news-content {
	padding: 2px;
}

.news-link {
	float: right;
	padding-right: 15px;
}

.news-container {
	display: flex;
	/* grid-template-columns: 1fr 1fr 1fr; */
	margin-top: 20px;
	/* grid-gap: 10px; */
	flex-direction: column;
	justify-content: center;
	/* margin-top: 10px; */
	/* justify-content: space-between; */
}

.card {
	margin-top: 10px;
}

@media (min-width: 768px) {
	.news-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
		justify-content: space-between;
	}
}
  